<div class="row container-fluid ps-4 pe-1 pt-2 pb-2">
    
    <h1 class="text-center text-white">Crear Servicio</h1>

    {% if mensaje %}
    <div class="col-sm-12 col-md-12 col-lg-1"></div>
    
    <div class="col-sm-12 col-md-12 col-lg-10 mt-2 mb-2 p-0 container-fluid">
        <h1 class="{{clasesmensaje}}"> {{mensaje}}</h1>
    </div>
    
    <div class="col-sm-12 col-md-12 col-lg-1"></div>
    {% endif %}
    
    <div class="col-12 border-0 bg-gradient rounded-1 ps-4 pe-1 pt-2 pb-2" style="background-color: rgb(144, 198, 253); max-height: 50em;">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}
        
            <input class="btn btn-primary border-0 bg-light bg-gradient text-dark center" type="submit" name="opcion" value="Agregar">
            
            <br>
            {% if mensaje %}
                <p class="alert text-danger fw-bolder"> <strong> Se encontraron errores.</strong> 
                    {{mensaje}}
                    <br> Creación rechazada. </p>
            {% endif %}
        </form>
    </div>
</div>
