<div class="row container-fluid">
    <div class="col-12">
      <h1 class="text-center">Servicios Cuenta</h1>
        {% if mensaje %}
        <div class="col-sm-12 col-md-12 col-lg-1"></div>
        
        <div class="col-sm-12 col-md-12 col-lg-10 mt-2 mb-2 p-0 container-fluid">
            <h1 class="{{clasesmensaje}}"> {{mensaje}}</h1>
        </div>
        
        <div class="col-sm-12 col-md-12 col-lg-1"></div>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th> Servicio </th>
                    <th> Fecha de Creación </th>
                    <th> Fecha de Inicio </th>
                    <th> Fecha de Término </th>
                    <th> Precio Total </th>
                    <th> Contrato </th>
                    <th> Estado </th>
                </tr>
            </thead>
            <tbody>
                {% for x in listadoServicio %}
                <tr>
                    <td> {{ x.nombre }}</td>
                    <td> {{ x.fecha_creacion }}</td>
                        {% if x.fecha_inicio == None %}
                            <td style="text-align: center;"> Sin determinar </td>
                        
                        {% else %}
                            <td style="text-align: center;"> {{ x.fecha_inicio }} </td>
                        {% endif %}
                        {% if x.fecha_termino == None %}
                            <td style="text-align: center;"> Sin determinar </td>
                        
                        {% else %}
                            <td style="text-align: center;"> {{ x.fecha_termino }} </td>
                        {% endif %}
                    <td> ${{ x.precio_totalSTR }} </td>
                    <td style="text-align: center;"> 
                        <form action="/tienda/cuenta/verdetalleservicio/{{x.id}}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning" style="border: 0; border-radius: 0.1em;"> Ver Términos Acordados</button>
                        </form>
                    <td>
                        {% if x.estado == "En espera" %}
                            <button type="button" class="btn btn-secondary text-center" style="border: 0; border-radius: 0.1em;" data-bs-dismiss="modal"> En espera </button>
                        {% endif %}
                        {% if x.estado == "Realizar Primer Pago" %}
                            <button type="button" class="btn btn-warning text-center" style="border: 0; border-radius: 0.1em;" data-bs-dismiss="modal"> <a class="btn btn-warning text-white" href="https://wa.me/c/56947625151">Realizar Primer Pago</a> </button>
                        {% endif %}
                        {% if x.estado == "Pagado Primer Pago" %}
                            <button type="button" class="btn btn-success text-center" style="border: 0; border-radius: 0.1em;" data-bs-dismiss="modal">Pagado Primer Pago</button>
                        {% endif %}
                        {% if x.estado == "Realizar Segundo Pago" %}
                            <button type="button" class="btn btn-warning text-center" style="border: 0; border-radius: 0.1em;" data-bs-dismiss="modal"> <a class="btn btn-warning text-white" href="https://wa.me/c/56947625151">Realizar Segundo Pago</a> </button>
                        {% endif %}
                        {% if x.estado == "Pagado Segundo Pago" %}
                            <button type="button" class="btn btn-success text-center" style="border: 0; border-radius: 0.1em;" data-bs-dismiss="modal">Pagado Segundo Pago</button>
                        {% endif %}

                        {% if x.estado == "Finalizado" %}
                            <button type="button" class="btn btn-secondary text-center" style="border: 0; border-radius: 0.1em;" data-bs-dismiss="modal">Finalizado</button>
                        {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

