{% load static %}
<!-- Seccion Productos -->

<div class="container-fluid">

    <div class="row pt-3 pb-0 bg-secondary bg-gradient text-black text-center" style="--bs-bg-opacity: 0.1; --bs-text-opacity: 0.7;">

      {% if not productos %}

      <h1 class="alert alert-warning" >No hay {{view}} disponibles </h1>

      {% else %}

        {% for pro in productos %}
        
        {% if pro.tipo == tipo or view == "productos" %}

        <div class="col-xs-12 col-md-6 col-lg-4" style=" padding: 1em;">
            <div class="card bg-transparent bg-gradient" style="border: 0; border-radius: 0.1em;">
                <img src="/media/{{pro.imagen}}" class="card-img-top" alt="..." style="border: 0; border-radius: 0.1em;">
                <div class="card-body bg-transparent bg-gradient">
                  <h5 class="card-title">{{pro.nombre}}</h5>
                  <p class="card-text">${{pro.precioSTR}}</p>
                  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="{{pro.nombremodal}}" style="border: 0; border-radius: 0.1em;">Detalles</button>
                </div>
              </div>
              <div class="modal fade" style="--bs-modal-width: 60%;" id="{{pro.idmodal}}" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    
                    <div class="modal-header">
                      
                    </div>
                    <div class="modal-body">
                        <div class="card bg-transparent bg-gradient" style="border: 0; border-radius: 0.1em;">

                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <img src="/media/{{pro.imagen}}" class="card-img-top" alt="..." style="border: 0; border-radius: 0.1em;">
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="card-body bg-transparent bg-gradient">
                                        <h5 class="modal-title">{{pro.nombre}}</h5>
                                        <p class="card-text">${{pro.precioSTR}}</p>
                                        <p class="card-text">{{pro.descripcion}}</p>
                                      </div>
                                </div>
        
                            </div>
                            
                            
                          </div>
                      
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                      <form method="POST" action="/tienda/agregarProducto/{{pro.id}}" style=" display: flex; flex-direction: row; align-items: center; align-content: space-between;">

                        {% csrf_token %}
                        <input type="number" name="cantidad" style="border: 0.2em rgb(255, 247, 162) solid; border-radius: 0.1em;"  value="1" min="1" max="10">
                        <button type="submit" class="btn btn-primary" style="border: 0; border-radius: 0.1em;" data-bs-dismiss="modal">Agregar a Carrito</button>
                        <button type="button" class="btn btn-secondary" style="border: 0; border-radius: 0.1em;" data-bs-dismiss="modal">Volver</button>
                      </form>
                      
                      
                      <!-- <button type="button" class="btn btn-primary"></button> -->
                    </div>
                  </div>
                </div>
              </div>
        </div>
        
        {% endif %}

        {% endfor %}
      
      {% endif %}

    </div>
  
  </div>
  <!-- Fin Seccion Productos -->
