<div class="row container-fluid">
    <div class="col-12">
      <h1 class="text-center">Datos Cuenta</h1>
        {% if mensaje %}
        <div class="col-sm-12 col-md-12 col-lg-1"></div>
        
        <div class="col-sm-12 col-md-12 col-lg-10 mt-2 mb-2 p-0 container-fluid">
            <h1 class="{{clasesmensaje}}"> {{mensaje}}</h1>
        </div>
        
        <div class="col-sm-12 col-md-12 col-lg-1"></div>
        {% endif %}
    </div>

    <div class="alert alert-secondary border-4 rounded-1 bg-gradient">
        <form action="editarPerfil/{{user.username}}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="exampleInputEmail1" class="form-label">Usuario: </label>
                <input type="text" name="usuario" value='{{user.username}}' class="form-control" placeholder="Usuario" disabled>
              </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <label for="exampleInputEmail1" class="form-label">Nombre: </label>
              <input type="text" name="nombre" value='{{user.first_name}}' class="form-control" placeholder="Nombre" disabled>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <label for="exampleInputEmail1" class="form-label">Apellido: </label>
              <input type="text" name="apellido" value="{{user.last_name}}" class="form-control" placeholder="Apellido" disabled>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <label for="exampleInputEmail1" class="form-label">Correo Electrónico: </label>
              <input type="email" name="email" value="{{user.email}}" class="form-control" placeholder="Email" disabled>
            </div>
          </div>
        </form>
      </div>
</div>
